extends layouts/main-layout.pug

block content    
    .resultsContainer

block headerButton
    a(href="/messages/new")
        i.far.fa-plus-square
        span.hdis Create_Group_Chat


block scripts
    script(src="/js/inboxPage.js")